
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic-settings

passlib
bcrypt
python-jose
PyJWT
email-validator

fastapi-mail
aiosmtplib

httpx
requests

langchain
langgraph
langchain-openai
langchain-community
langchain-google-genai
langchain-groq
langchain-cohere

openai
google-genai
groq
cohere

huggingface_hub
tiktoken

PyYAML

websockets

orjson

typer
rich

fastapi
uvicorn