# ai_services/requirements.txt

# Web Framework
fastapi
uvicorn
pydantic
httpx

# Environment
python-dotenv

# AI & Orchestration
langgraph
langchain==0.1.20
langchain-google-genai
langchain-core
langchain-groq
langchain-google-genai
langchain-cohere

# Database
sqlalchemy
psycopg2-binary

# Extra
numpy
# Database Access


motor

# Database Access
sqlalchemy
psycopg2-binary

motor

